  NET  AD<0>	  LOC = G30;
  NET  AD<1>	  LOC = G31;
  NET  AD<2>	  LOC = J29;
  NET  AD<3>	  LOC = J30;
  NET  AD<4>	  LOC = E32;
  NET  AD<5>	  LOC = E33;
  NET  AD<6>	  LOC = N25;
  NET  AD<7>	  LOC = P26;
  NET  AD<8>	  LOC = P22;
  NET  AD<9>	  LOC = R21;
  NET  AD<10>	  LOC = F33;
  NET  AD<11>	  LOC = F34;
  NET  AD<12>	  LOC = K28;
  NET  AD<13>	  LOC = K29;
  NET  AD<14>	  LOC = G32;
  NET  AD<15>	  LOC = G33;
  NET  AD<16>	  LOC = R22;
  NET  AD<17>	  LOC = R23;
  NET  AD<18>	  LOC = K32;
  NET  AD<19>	  LOC = K33;
  NET  AD<20>	  LOC = N27;
  NET  AD<21>	  LOC = P27;
  NET  AD<22>	  LOC = M30;
  NET  AD<23>	  LOC = M31;
  NET  AD<24>	  LOC = J34;
  NET  AD<25>	  LOC = K34;
  NET  AD<26>	  LOC = N29;
  NET  AD<27>	  LOC = N30;
  NET  AD<28>	  LOC = L33;
  NET  AD<29>	  LOC = L34;
  NET  AD<30>	  LOC = M32;
  NET  AD<31>	  LOC = M33;

  NET  AECKO	  LOC = AL5;
  NET  AHOLD	  LOC = AN4;
  NET  AHOLDA	  LOC = AD10;
  NET  AI<0>	  LOC = M26;
  NET  AI<1>	  LOC = M25;
  NET  AOE	  LOC = AK4;
  NET  ARDY	  LOC = AP4;
  NET  ARE	  LOC = AL4;
  NET  AS<0>	  LOC = AL11;
  NET  AS<1>	  LOC = AL10;
  NET  AS<2>	  LOC = AE11;
  NET  AS<3>	  LOC = AF11;
  NET  AS<4>	  LOC = AM12;
  NET  AS<5>	  LOC = AM11;
  NET  AS<6>	  LOC = AL9;
  NET  AS<7>	  LOC = AK9;
  NET  AS<8>	  LOC = AP11;
  NET  AS<9>	  LOC = AP10;
  NET  AS<10>	  LOC = AH10;
  NET  AS<11>	  LOC = AG10;
  NET  AS<12>	  LOC = AN12;
  NET  AS<13>	  LOC = AP12;
  NET  AS<14>	  LOC = AP9;
  NET  AS<15>	  LOC = AN9;
  NET  AS<16>	  LOC = AH12;
  NET  AS<17>	  LOC = AG11;
  NET  AS<18>	  LOC = AN7;
  NET  AS<19>	  LOC = AM7;
  NET  ASI	  LOC = AJ34;
  NET  AWE	  LOC = AJ4;
  NET  AX<16>	  LOC = AE17;
  NET  AX<17>	  LOC = AE16;
  NET  AX<18>	  LOC = AJ17;
  NET  AX<19>	  LOC = AH17;
  NET  BCLK	  LOC = AN3;
  NET  BERRO	  LOC = AH32;
  NET  BHOLD	  LOC = AK13;
  NET  BRDY	  LOC = AN2;
  NET  CAIV	  LOC = AG15;
  NET  CAVI	  LOC = AG20;
  NET  CDIV	  LOC = AL16;
  NET  CDVI	  LOC = AD19;
  NET  CEL<0>	  LOC = AN10;
  NET  CEL<1>	  LOC = AM10;
  NET  CEL<2>	  LOC = AF10;
  NET  CEL<3>	  LOC = AE9;
  NET  CKFNL	  LOC = AG17;
  NET  CKFPH	  LOC = AF18;
  NET  CKFPL	  LOC = AG18;
  NET  CLKR0	  LOC = AK12;
  NET  CLKS0	  LOC = AJ11;
  NET  CLKX0	  LOC = AK11;
  NET  COD<1>	  LOC = AF29;
  NET  COD<2>	  LOC = AF30;
  NET  CON<0>	  LOC = AK29;
  NET  CON<1>	  LOC = AJ29;
  NET  CON<2>	  LOC = AF28;
  NET  CON<3>	  LOC = AE27;
  NET  CON<4>	  LOC = AF26;
  NET  CON<5>	  LOC = AE26;
  NET  CON<6>	  LOC = AN32;
  NET  CON<7>	  LOC = AN33;
  NET  CON<8>	  LOC = AK21;
  NET  CON<9>	  LOC = AL21;
  NET  CON<10>	  LOC = AH28;
  NET  CON<11>	  LOC = AH29;
  NET  CON<12>	  LOC = AP30;
  NET  CON<13>	  LOC = AN30;
  NET  CON<14>	  LOC = AG27;
  NET  CON<15>	  LOC = AG28;
  NET  DACKP	  LOC = AB26;
  NET  DI<0>	  LOC = N23;
  NET  DI<1>	  LOC = H29;
  NET  DI<2>	  LOC = H30;
  NET  DI<3>	  LOC = C33;
  NET  DI<4>	  LOC = C34;
  NET  DI<5>	  LOC = D34;
  NET  DI<6>	  LOC = E34;
  NET  DOUTLCD	  LOC = K27;
  NET  DR0	  LOC = AM8;
  NET  DS<0>	  LOC = Y13;
  NET  DS0I	  LOC = AA23;
  NET  DS1I	  LOC = AA24;
  NET  DS<1>	  LOC = Y12;
  NET  DS<2>	  LOC = AE3;
  NET  DS<3>	  LOC = AE2;
  NET  DS<4>	  LOC = AD6;
  NET  DS<5>	  LOC = AD5;
  NET  DS<6>	  LOC = AC7;
  NET  DS<7>	  LOC = AB8;
  NET  DS<8>	  LOC = Y16;
  NET  DS<9>	  LOC = AA15;
  NET  DS<10>	  LOC = AE4;
  NET  DS<11>	  LOC = AD4;
  NET  DS<12>	  LOC = AH3;
  NET  DS<13>	  LOC = AH2;
  NET  DS<14>	  LOC = AG2;
  NET  DS<15>	  LOC = AG1;
  NET  DS<16>	  LOC = AC10;
  NET  DS<17>	  LOC = AB10;
  NET  DS<18>	  LOC = AK3;
  NET  DS<19>	  LOC = AK2;
  NET  DS<20>	  LOC = AF8;
  NET  DS<21>	  LOC = AE8;
  NET  DS<22>	  LOC = AH5;
  NET  DS<23>	  LOC = AH4;
  NET  DS<24>	  LOC = AB13;
  NET  DS<25>	  LOC = AB12;
  NET  DS<26>	  LOC = AM2;
  NET  DS<27>	  LOC = AM1;
  NET  DS<28>	  LOC = AG8;
  NET  DS<29>	  LOC = AG7;
  NET  DS<30>	  LOC = AM3;
  NET  DS<31>	  LOC = AL3;
  NET  DSPRS	  LOC = AL13;
  NET  DX0	  LOC = AP6;
  NET  FSR0	  LOC = AN8;
  NET  FSX0	  LOC = AP7;
  NET  HCS	  LOC = AK7;
  NET  HD<0>	  LOC = AC9;
  NET  HD<1>	  LOC = AC8;
  NET  HD<2>	  LOC = AG3;
  NET  HD<3>	  LOC = AF3;
  NET  HD<4>	  LOC = AF6;
  NET  HD<5>	  LOC = AE6;
  NET  HD<6>	  LOC = AF5;
  NET  HD<7>	  LOC = AF4;
  NET  HD<8>	  LOC = AL1;
  NET  HD<9>	  LOC = AK1;
  NET  HD<10>	  LOC = AJ2;
  NET  HD<11>	  LOC = AJ1;
  NET  HD<12>	  LOC = AG6;
  NET  HD<13>	  LOC = AG5;
  NET  HD<14>	  LOC = AE7;
  NET  HD<15>	  LOC = AD7;
  NET  HD<16>	  LOC = AB6;
  NET  HD<17>	  LOC = AB5;
  NET  HD<18>	  LOC = AC3;
  NET  HD<19>	  LOC = AC2;
  NET  HD<20>	  LOC = Y11;
  NET  HD<21>	  LOC = AA11;
  NET  HD<22>	  LOC = AD2;
  NET  HD<23>	  LOC = AD1;
  NET  HD<24>	  LOC = Y14;
  NET  HD<25>	  LOC = AA13;
  NET  HD<26>	  LOC = AC5;
  NET  HD<27>	  LOC = AC4;
  NET  HD<28>	  LOC = AF1;
  NET  HD<29>	  LOC = AE1;
  NET  HD<30>	  LOC = AA9;
  NET  HD<31>	  LOC = AA8;
  NET  HIA<0>	  LOC = AN14;
  NET  HIA<1>	  LOC = AP14;
  NET  HIA<2>	  LOC = AJ6;
  NET  HPV<0>	  LOC = AA25;
  NET  HPV<1>	  LOC = AA26;
  NET  HPV<2>	  LOC = AE32;
  NET  HPV<3>	  LOC = AD32;
  NET  HPV<4>	  LOC = AC28;
  NET  HPV<5>	  LOC = AB28;
  NET  HPV<6>	  LOC = AD30;
  NET  HPV<7>	  LOC = AD31;
  NET  HPV<8>	  LOC = AG32;
  NET  HPV<9>	  LOC = AG33;
  NET  HPV<10>	  LOC = AF33;
  NET  HPV<11>	  LOC = AF34;
  NET  HPV<12>	  LOC = AE29;
  NET  HPV<13>	  LOC = AD29;
  NET  HPV<14>	  LOC = AF31;
  NET  HPV<15>	  LOC = AE31;
  NET  HPW<0>	  LOC = AK31;
  NET  HPW<1>	  LOC = AK32;
  NET  HPW<2>	  LOC = AK33;
  NET  HPW<3>	  LOC = AK34;
  NET  HPW<4>	  LOC = AM32;
  NET  HPW<5>	  LOC = AM33;
  NET  HPW<6>	  LOC = AJ31;
  NET  HPW<7>	  LOC = AJ32;
  NET  HPW<8>	  LOC = AB22;
  NET  HPW<9>	  LOC = AB23;
  NET  HPW<10>	  LOC = AL33;
  NET  HPW<11>	  LOC = AL34;
  NET  HPW<12>	  LOC = AM31;
  NET  HPW<13>	  LOC = AL31;
  NET  HPW<14>	  LOC = AJ30;
  NET  HPW<15>	  LOC = AH30;
  NET  HRDY	  LOC = AJ7;
  NET  HRW	  LOC = AJ5;
  NET  IACK	  LOC = AB25;
  NET  IACKII	  LOC = AC27;
  NET  IACKOU	  LOC = AG30;
  NET  IN1X<1>	  LOC = N19;
  NET  IN3X<1>	  LOC = D12;
  NET  IN2X<1>	  LOC = B20;
  NET  IN2X<2>	  LOC = A20;
  NET  IN3X<2>	  LOC = C12;
  NET  IN1X<2>	  LOC = N18;
  NET  IN3X<3>	  LOC = B10;
  NET  IN1X<3>	  LOC = L15;
  NET  IN2X<3>	  LOC = K16;
  NET  IN3X<4>	  LOC = C10;
  NET  IN2X<4>	  LOC = L16;
  NET  IN1X<4>	  LOC = L14;
  NET  IN1X<5>	  LOC = E21;
  NET  IN3X<5>	  LOC = A11;
  NET  IN2X<5>	  LOC = J20;
  NET  IN1X<6>	  LOC = D21;
  NET  IN2X<6>	  LOC = L19;
  NET  IN3X<6>	  LOC = B11;
  NET  IN1X<7>	  LOC = J14;
  NET  IN3X<7>	  LOC = C9;
  NET  IN2X<7>	  LOC = H15;
  NET  IN1X<8>	  LOC = K14;
  NET  IN2X<8>	  LOC = J15;
  NET  IN3X<8>	  LOC = C8;
  NET  IN1X<9>	  LOC = N20;
  NET  IN2X<9>	  LOC = G21;
  NET  IN3X<9>	  LOC = G12;
  NET  IN2X<10>	  LOC = H20;
  NET  IN1X<10>	  LOC = M20;
  NET  IN3X<10>	  LOC = G11;
  NET  IN1X<11>	  LOC = H14;
  NET  IN3X<11>	  LOC = F10;
  NET  IN2X<11>	  LOC = G15;
  NET  IN1X<12>	  LOC = H13;
  NET  IN3X<12>	  LOC = G10;
  NET  IN2X<12>	  LOC = F14;
  NET  IN1X<13>	  LOC = H22;
  NET  IN3X<13>	  LOC = D11;
  NET  IN2X<13>	  LOC = F21;
  NET  IN1X<14>	  LOC = J21;
  NET  IN3X<14>	  LOC = D10;
  NET  IN2X<14>	  LOC = F20;
  NET  IN1X<15>	  LOC = F13;
  NET  IN3X<15>	  LOC = H10;
  NET  IN2X<15>	  LOC = A15;
  NET  IN2X<16>	  LOC = B15;
  NET  IN1X<16>	  LOC = G13;
  NET  IN3X<16>	  LOC = H9;
  NET  IN2X<17>	  LOC = F18;
  NET  IN3X<17>	  LOC = A14;
  NET  IN1X<17>	  LOC = M18;
  NET  IN1X<18>	  LOC = L18;
  NET  IN2X<18>	  LOC = G18;
  NET  IN3X<18>	  LOC = A13;
  NET  IN1X<19>	  LOC = M17;
  NET  IN2X<19>	  LOC = H17;
  NET  IN3X<19>	  LOC = D7;
  NET  IN3X<20>	  LOC = D6;
  NET  IN1X<20>	  LOC = N17;
  NET  IN2X<20>	  LOC = J17;
  NET  IN3X<21>	  LOC = D9;
  NET  IN2X<21>	  LOC = H19;
  NET  IN1X<21>	  LOC = E19;
  NET  IN2X<22>	  LOC = H18;
  NET  IN1X<22>	  LOC = D19;
  NET  IN3X<22>	  LOC = E9;
  NET  IN3X<23>	  LOC = A4;
  NET  IN2X<23>	  LOC = E18;
  NET  IN1X<23>	  LOC = C17;
  NET  IN3X<24>	  LOC = A3;
  NET  IN1X<24>	  LOC = D17;
  NET  IN2X<24>	  LOC = E17;
  NET  IN3X<25>	  LOC = E13;
  NET  IN2X<25>	  LOC = K18;
  NET  IN1X<25>	  LOC = C19;
  NET  IN3X<26>	  LOC = E12;
  NET  IN2X<26>	  LOC = K17;
  NET  IN1X<26>	  LOC = C18;
  NET  IN1X<27>	  LOC = D16;
  NET  IN3X<27>	  LOC = A5;
  NET  IN2X<27>	  LOC = E16;
  NET  IN2X<28>	  LOC = F16;
  NET  IN1X<28>	  LOC = C15;
  NET  IN3X<28>	  LOC = B5;
  NET  IN2X<29>	  LOC = K19;
  NET  IN3X<29>	  LOC = E8;
  NET  IN1X<29>	  LOC = D20;
  NET  IN2X<30>	  LOC = J19;
  NET  IN3X<30>	  LOC = E7;
  NET  IN1X<30>	  LOC = C20;
  NET  IN2X<31>	  LOC = G17;
  NET  IN1X<31>	  LOC = M16;
  NET  IN3X<31>	  LOC = J9;
  NET  IN1X<32>	  LOC = N15;
  NET  IN2X<32>	  LOC = G16;
  NET  IN3X<32>	  LOC = K9;
  NET  INT<4>	  LOC = AK6;
  NET  INT<5>	  LOC = AL8;
  NET  INT<6>	  LOC = AK8;
  NET  INT<7>	  LOC = AH8;
  NET  IRBLO	  LOC = AG31;
  NET  LED<1>	  LOC = M27;
  NET  LED<2>	  LOC = M28;
  NET  LED<3>	  LOC = H33;
  NET  LED<4>	  LOC = H34;
  NET  LED<5>	  LOC = J31;
  NET  LED<6>	  LOC = K31;
  NET  LED<7>	  LOC = L30;
  NET  LED<8>	  LOC = L31;
  NET  LEMIN1	  LOC = H28;
  NET  LEMOE	  LOC = J27;
  NET  LEMONIM	  LOC = C32;
  NET  LEMOTTL	  LOC = D32;
  NET  NMI	  LOC = AL6;
  NET  OAIV	  LOC = AH14;
  NET  OAVI	  LOC = AH20;
  NET  ODIV	  LOC = AK16;
  NET  ODVI	  LOC = AE19;
  NET  OU1X<1>	  LOC = B13;
  NET  OU1X<2>	  LOC = B12;
  NET  OU1X<3>	  LOC = A8;
  NET  OU1X<4>	  LOC = B8;
  NET  OU1X<5>	  LOC = E11;
  NET  OU1X<6>	  LOC = F11;
  NET  OU1X<7>	  LOC = A6;
  NET  OU1X<8>	  LOC = B6;
  NET  OU1X<9>	  LOC = H12;
  NET  OU1X<10>	  LOC = J11;
  NET  OU1X<11>	  LOC = B7;
  NET  OU1X<12>	  LOC = C7;
  NET  OU1X<13>	  LOC = A10;
  NET  OU1X<14>	  LOC = A9;
  NET  OU1X<15>	  LOC = F8;
  NET  OU1X<16>	  LOC = G8;
  NET  OU1X<17>	  LOC = C14;
  NET  OU1X<18>	  LOC = C13;
  NET  OU1X<19>	  LOC = E6;
  NET  OU1X<20>	  LOC = F6;
  NET  OU1X<21>	  LOC = C5;
  NET  OU1X<22>	  LOC = D5;
  NET  OU1X<23>	  LOC = G7;
  NET  OU1X<24>	  LOC = G6;
  NET  OU1X<25>	  LOC = E14;
  NET  OU1X<26>	  LOC = D14;
  NET  OU1X<27>	  LOC = B3;
  NET  OU1X<28>	  LOC = B2;
  NET  OU1X<29>	  LOC = H8;
  NET  OU1X<30>	  LOC = H7;
  NET  OU1X<31>	  LOC = K8;
  NET  OU1X<32>	  LOC = J7;
  NET  PGIO4X<1>	  LOC = E3;
  NET  PGIO1X<1>	  LOC = B23;
  NET  PGIO3X<1>	  LOC = F1;
  NET  PGIO2X<1>	  LOC = F23;
  NET  PGIO3X<2>	  LOC = G1;
  NET  PGIO1X<2>	  LOC = A23;
  NET  PGIO2X<2>	  LOC = E23;
  NET  PGIO4X<2>	  LOC = E2;
  NET  PGIO4X<3>	  LOC = J6;
  NET  PGIO2X<3>	  LOC = D26;
  NET  PGIO3X<3>	  LOC = J4;
  NET  PGIO1X<3>	  LOC = A26;
  NET  PGIO3X<4>	  LOC = K4;
  NET  PGIO1X<4>	  LOC = B26;
  NET  PGIO4X<4>	  LOC = J5;
  NET  PGIO2X<4>	  LOC = E26;
  NET  PGIO3X<5>	  LOC = H3;
  NET  PGIO4X<5>	  LOC = H5;
  NET  PGIO2X<5>	  LOC = F24;
  NET  PGIO1X<5>	  LOC = A24;
  NET  PGIO1X<6>	  LOC = A25;
  NET  PGIO2X<6>	  LOC = E24;
  NET  PGIO4X<6>	  LOC = H4;
  NET  PGIO3X<6>	  LOC = H2;
  NET  PGIO2X<7>	  LOC = D27;
  NET  PGIO4X<7>	  LOC = N10;
  NET  PGIO3X<7>	  LOC = P10;
  NET  PGIO1X<7>	  LOC = G25;
  NET  PGIO1X<8>	  LOC = H25;
  NET  PGIO2X<8>	  LOC = E27;
  NET  PGIO4X<8>	  LOC = N9;
  NET  PGIO3X<8>	  LOC = P9;
  NET  PGIO2X<9>	  LOC = G23;
  NET  PGIO4X<9>	  LOC = P12;
  NET  PGIO1X<9>	  LOC = C23;
  NET  PGIO3X<9>	  LOC = M7;
  NET  PGIO1X<10>	  LOC = C24;
  NET  PGIO4X<10>	  LOC = P11;
  NET  PGIO2X<10>	  LOC = H24;
  NET  PGIO3X<10>	  LOC = N7;
  NET  PGIO1X<11>	  LOC = F25;
  NET  PGIO4X<11>	  LOC = G3;
  NET  PGIO3X<11>	  LOC = L5;
  NET  PGIO2X<11>	  LOC = A28;
  NET  PGIO1X<12>	  LOC = F26;
  NET  PGIO3X<12>	  LOC = L4;
  NET  PGIO2X<12>	  LOC = A29;
  NET  PGIO4X<12>	  LOC = G2;
  NET  PGIO1X<13>	  LOC = D24;
  NET  PGIO3X<13>	  LOC = J2;
  NET  PGIO2X<13>	  LOC = B25;
  NET  PGIO4X<13>	  LOC = L8;
  NET  PGIO1X<14>	  LOC = D25;
  NET  PGIO2X<14>	  LOC = C25;
  NET  PGIO4X<14>	  LOC = M8;
  NET  PGIO3X<14>	  LOC = J1;
  NET  PGIO1X<15>	  LOC = B27;
  NET  PGIO2X<15>	  LOC = J25;
  NET  PGIO3X<15>	  LOC = R11;
  NET  PGIO4X<15>	  LOC = K6;
  NET  PGIO1X<16>	  LOC = C27;
  NET  PGIO3X<16>	  LOC = T11;
  NET  PGIO2X<16>	  LOC = K26;
  NET  PGIO4X<16>	  LOC = L6;
  NET  PGIO1X<17>	  LOC = C22;
  NET  PGIO4X<17>	  LOC = K3;
  NET  PGIO3X<17>	  LOC = C4;
  NET  PGIO2X<17>	  LOC = B28;
  NET  PGIO1X<18>	  LOC = B22;
  NET  PGIO4X<18>	  LOC = L3;
  NET  PGIO2X<18>	  LOC = C28;
  NET  PGIO3X<18>	  LOC = C3;
  NET  PGIO1X<19>	  LOC = A30;
  NET  PGIO4X<19>	  LOC = K2;
  NET  PGIO3X<19>	  LOC = F5;
  NET  PGIO2X<19>	  LOC = D30;
  NET  PGIO4X<20>	  LOC = K1;
  NET  PGIO2X<20>	  LOC = D31;
  NET  PGIO1X<20>	  LOC = B30;
  NET  PGIO3X<20>	  LOC = G5;
  NET  PGIO1X<21>	  LOC = K24;
  NET  PGIO2X<21>	  LOC = G27;
  NET  PGIO3X<21>	  LOC = D4;
  NET  PGIO4X<21>	  LOC = M6;
  NET  PGIO2X<22>	  LOC = G28;
  NET  PGIO3X<22>	  LOC = E4;
  NET  PGIO4X<22>	  LOC = M5;
  NET  PGIO1X<22>	  LOC = J24;
  NET  PGIO4X<23>	  LOC = M3;
  NET  PGIO1X<23>	  LOC = C29;
  NET  PGIO3X<23>	  LOC = M10;
  NET  PGIO2X<23>	  LOC = F29;
  NET  PGIO3X<24>	  LOC = L9;
  NET  PGIO2X<24>	  LOC = F30;
  NET  PGIO4X<24>	  LOC = M2;
  NET  PGIO1X<24>	  LOC = C30;
  NET  PGIO2X<25>	  LOC = D29;
  NET  PGIO3X<25>	  LOC = N13;
  NET  PGIO1X<25>	  LOC = B21;
  NET  PGIO4X<25>	  LOC = L1;
  NET  PGIO2X<26>	  LOC = E29;
  NET  PGIO1X<26>	  LOC = A21;
  NET  PGIO3X<26>	  LOC = N12;
  NET  PGIO4X<26>	  LOC = M1;
  NET  PGIO3X<27>	  LOC = F4;
  NET  PGIO4X<27>	  LOC = N5;
  NET  PGIO1X<27>	  LOC = E28;
  NET  PGIO2X<27>	  LOC = L25;
  NET  PGIO1X<28>	  LOC = F28;
  NET  PGIO3X<28>	  LOC = F3;
  NET  PGIO4X<28>	  LOC = P5;
  NET  PGIO2X<28>	  LOC = L26;
  NET  PGIO3X<29>	  LOC = C2;
  NET  PGIO4X<29>	  LOC = P7;
  NET  PGIO2X<29>	  LOC = B32;
  NET  PGIO1X<29>	  LOC = E22;
  NET  PGIO2X<30>	  LOC = B33;
  NET  PGIO4X<30>	  LOC = P6;
  NET  PGIO1X<30>	  LOC = D22;
  NET  PGIO3X<30>	  LOC = D2;
  NET  PGIO3X<31>	  LOC = D1;
  NET  PGIO2X<31>	  LOC = E31;
  NET  PGIO4X<31>	  LOC = T10;
  NET  PGIO1X<31>	  LOC = A31;
  NET  PGIO3X<32>	  LOC = E1;
  NET  PGIO1X<32>	  LOC = B31;
  NET  PGIO4X<32>	  LOC = R9;
  NET  PGIO2X<32>	  LOC = F31;
  NET  PGXLED<1>	  LOC = P20;
  NET  PGXLED<2>	  LOC = R19;
  NET  PGXLED<3>	  LOC = L28;
  NET  PGXLED<4>	  LOC = L29;
  NET  PGXLED<5>	  LOC = P24;
  NET  PGXLED<6>	  LOC = R24;
  NET  PGXLED<7>	  LOC = H32;
  NET  PGXLED<8>	  LOC = J32;
  NET  PRES	  LOC = AN13;
  NET  RES<1>	  LOC = AH7;
  NET  RES<2>	  LOC = AM13;
  NET  SAD<0>	  LOC = AL24;
  NET  SAD<1>	  LOC = AL25;
  NET  SAD<2>	  LOC = AL26;
  NET  SAD<3>	  LOC = AK26;
  NET  SAD<4>	  LOC = AN22;
  NET  SAD<5>	  LOC = AN23;
  NET  SAD<6>	  LOC = AJ25;
  NET  SAD<7>	  LOC = AH25;
  NET  SAD<8>	  LOC = AP24;
  NET  SAD<9>	  LOC = AN24;
  NET  SAD<10>	  LOC = AM26;
  NET  SAD<11>	  LOC = AM27;
  NET  SAD<12>	  LOC = AL23;
  NET  SAD<13>	  LOC = AM23;
  NET  SAD<14>	  LOC = AN25;
  NET  SAD<15>	  LOC = AM25;
  NET  SAD<16>	  LOC = AP21;
  NET  SAD<17>	  LOC = AP22;
  NET  SCS	  LOC = AL30;
  NET  SDA<0>	  LOC = AA28;
  NET  SDA<1>	  LOC = AA29;
  NET  SDA<2>	  LOC = W24;
  NET  SDA<3>	  LOC = Y24;
  NET  SDA<4>	  LOC = AB30;
  NET  SDA<5>	  LOC = AA30;
  NET  SDA<6>	  LOC = W25;
  NET  SDA<7>	  LOC = Y26;
  NET  SDA<8>	  LOC = AE33;
  NET  SDA<9>	  LOC = AE34;
  NET  SDA<10>	  LOC = AC32;
  NET  SDA<11>	  LOC = AC33;
  NET  SDA<12>	  LOC = AC29;
  NET  SDA<13>	  LOC = AC30;
  NET  SDA<14>	  LOC = AD34;
  NET  SDA<15>	  LOC = AC34;
  NET  SOE	  LOC = AN27;
  NET  SRESI	  LOC = AD27;
  NET  SWE	  LOC = AP27;
  NET  TINP<0>	  LOC = AM6;
  NET  TINP<1>	  LOC = AM5;
  NET  TINP<2>	  LOC = AJ10;
  NET  TOUT<0>	  LOC = AJ9;
  NET  TOUT<1>	  LOC = AP5;
  NET  TOUT<2>	  LOC = AN5;
  NET  WRDIS	  LOC = N22;
  NET  WRI	  LOC = AH34;

NET "LEMIN1" CLOCK_DEDICATED_ROUTE = FALSE;

NET "IN1X<30>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN1X<31>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN1X<32>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<2>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<3>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<4>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<5>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<6>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<7>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<8>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<9>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<10>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<11>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<12>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<13>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<14>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<15>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<16>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<17>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<18>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<19>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<20>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<21>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<22>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<23>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<24>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<25>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<26>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<27>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<28>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<29>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<30>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<31>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN2X<32>" CLOCK_DEDICATED_ROUTE = FALSE;

NET "IN3X<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<2>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<3>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<4>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<5>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<6>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<7>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<8>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<9>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<10>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<11>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<12>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<13>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<14>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<15>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<16>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<17>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<18>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<19>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<20>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<21>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<22>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<23>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<24>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<25>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<26>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<27>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<28>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<29>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<30>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<31>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "IN3X<32>" CLOCK_DEDICATED_ROUTE = FALSE;

NET "PGIO1X<1>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<2>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<3>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<4>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<5>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<6>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<7>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<8>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<9>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<10>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<11>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<12>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<13>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<14>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<15>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<16>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<17>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<18>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<19>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<20>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<21>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<22>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<23>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<24>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<25>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<26>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<27>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<28>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<29>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<30>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<31>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PGIO1X<32>" CLOCK_DEDICATED_ROUTE = FALSE;

NET "CKFNL" TNM_NET = CKFNL;
TIMESPEC TS_CKFNL = PERIOD "CKFNL" 10 ns;
NET "CKFPL" TNM_NET = CKFPL;
TIMESPEC TS_CKFPL = PERIOD "CKFPL" 10 ns;
#NET "trigger_1/ClockCounter_22" TNM_NET = trigger_1/ClockCounter_22;
#TIMESPEC TS_trigger_1_ClockCounter_22 = PERIOD "trigger_1/ClockCounter_22" 20 ns HIGH 50%;
